<%- include("header") -%>

<h2>About</h2>

<p>
  <em>NodeDo</em> simplifies task management. Create, edit, and organize tasks
  effortlessly. You can mark tasks as completed with a single click, and custom
  lists are a snap - just add a unique name to the URL. Developed by Harshil
  Sodani, NodeDo is designed for practicality. It's all about streamlining your
  to-dos without unnecessary complexity. Start using NodeDo today to declutter
  your tasks and make your daily life more manageable.
</p>

<%- include("footer") -%>
